/*
 * "Darkfish" Rdoc CSS
 * $Id: rdoc.css 54 2009-01-27 01:09:48Z deveiant $
 *
 * Author: Michael Granger <ged@FaerieMUD.org>
 *
 */

/* Base Green is: #6C8C22 */
/* Brown is #A54D24 */
/* Light Brown #F8E2A5 */

*{ padding: 0; margin: 0; }
/* FFF2b5 */
/*f9f1dd*/

body {
  background: #F5f5f5;
  font: 14px "Helvetica Neue", Helvetica, Tahoma, sans-serif;
}


body {
    background: #F5f5f5;
    font: 14px "Helvetica Neue", Helvetica, Tahoma, sans-serif;
    padding: 0px;
    margin: 0px;
}


h1,h2,h3,h4 {   
    margin: 0px;
}

body.class, body.module, body.file {
}
body.file-popup {
	font-size: 90%;
}

h1.class,
h1.module {
    position: relative;
    font-size: 250%;
    text-shadow: rgba(135,145,135,0.65) 6px 6px 9px;
    color: #401;
    margin: 0px;
    margin-bottom: 0px;
    text-align: left;
    /*	background: transparent;
	position: fixed;
	right: 0;
	top: 0;
	*/
    margin-right:0px;
    margin-top:0px;
    padding: 9px;
/* opacity:0.1;
   filter:alpha(opacity=10); */
}

h2,h3,h4 {
    margin-top: 0em;
}


pre {
	background: #fdfdfd;
 	padding: 0.5em 0; 
	border-top: 1px solid #225;
	border-left: 1px solid #225;
	font-size: 85%;
	padding-left: 1em;
	margin: 0.5em;
	margin-bottom: 1em;
}





/* @group Documentation Section */

#description {
	font-size: 100%;
	color: #333;
}

#description p {
	margin: 1em 0.4em;
}

#description li p {
  margin: 0;
}

#description ul {
	margin-left: 1.5em;
}
#description ul li {
	line-height: 1.4em;
}



div#documentation {
    padding: 0em;
    padding-left: 20px;
    padding-right: 20px;
}
#documentation-header1 {
    border: 3px groove #224;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 10px 10px 5px #888;
    padding: 5px 5px 5px 15px;
    margin: 1.0em 0em;
/*    padding-left: 1.0em; */
    background-color: #fff
}
div#documentation-header {
    /*border: 5px solid #401;*/
    /* -moz-box-shadow: 10px 10px 15px #401; */
    -moz-box-shadow: 3px 3px 10px #401;
    -webkit-box-shadow: 3px 3px 10px #401;
    -box-shadow: 3px 3px 10px #401;
    behavior: url(ie-css3.htc); /* This lets IE know to call the script on all elements which get the 'box' class */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 3px groove #401;
    padding: 5px 5px 5px 15px;
    margin: 2.0em 0em;
    background-color: #fff;
    color: #401;
}


#documentation-header .klass-type {
    float: left;
}
#documentation-header h1 {
    float: left;
    margin-right: 1em;
}
#documentation-header .parent {
    text-align: right;
}
#documentation-header .bottom {
    clear: both;
}
#documentation-header a {
    text-decoration: underline;
    color: inherit;
}
/*
div#documentation {
    background-color: #aaa;
}

#documentation .section-body {
    background-color: #a55;
}

#documentation p {
    margin: 0px;
    padding: 0px;
}
*/
#documentation p {
    margin-top: 1em;
    margin-bottom: 0.5em;
}
#documentation a {
    text-decoration: none;
    color: #666;
}
#documentation a:hover {
    text-decoration: underline;
    color: #333;
}

#description dl,
#documentation dl {
	border: 1px solid #d8c285;
}
#description dl {
	font-size: 14px;
}

#description dt,
#documentation dt {
	padding: 2px 4px;
	font-weight: bold;
	background-color: #D1DDEF;
}
#description dt:hover,
#documentation dd:hover {
	background-color: #FFF;
}
#description dd,
#documentation dd  {
	padding: 2px 12px;
}
#description dd + dt,
#documentation dd + dt {
	margin-top: 0.7em;
}

#documentation .section {
	font-size: 100%;
}
#documentation h3.section-header {
    padding: 0em 0.5em;
/*     color: #000; */
/*     background-color: #e8d295; */
/*     background-color: #ccc; */
/*     color: #224; */
/*     background: white url(images/fade-gray-trans.png) repea-x 4px center; */
/*     background: #eeeeee url(images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x; */
     background: #aaa url(images/fade-gray-trans.png)  bottom repeat-x; 

    cursor: pointer;
    font-size: 150%;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: right;
    border: 0px solid #224;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
}
#documentation .section-body {
    margin-bottom: 1em;
}

#documentation .hidden-section {
    display: none;
}


#constants-list > dl,
#attributes-list > dl {
	margin: 0.5em 0.5em;
	border: 0;
}
#constants-list > dl dt,
#attributes-list > dl dt {
	padding-left: 0;
	font-weight: bold;
	font-family: Monaco, "Andale Mono";
	background: inherit;
}
#constants-list > dl dt a,
#attributes-list > dl dt a {
	color: inherit;
}
#constants-list > dl dd,
#attributes-list > dl dd {
	margin: 0;
	padding: 0;
	color: #666;
}

.fixedwidth {
    font-size: 14px
    padding: 0px;
    margin: 0px;
}

/* @group Method Details */

#documentation .method-source-code {
	display: none;
}

#documentation .method-detail {
	margin: 0.5em 0;
	padding: 0.5em 0;
 	background-color: #f0f0f0;
	border: 1px dotted #aad;
	padding-top: 0px;
	color: #204;
}
#documentation div.method-detail:hover {
/* 	border: 1px solid #224; */
}
#documentation .method-heading {
	position: relative;
	padding: 2px 4px 0 20px;
	margin-bottom: 0.2em;
	font-size: 125%;
	font-weight: bold;
	color: #000;
	background: url(images/brick.png) no-repeat left bottom;
}

#documentation .method-detail .method-heading,
#documentation .method-detail .method-heading {
    font-family: courier, "courier new", monospace;
    color: #000;
    
    background-color: #D9ECF8;
    border-top: 1px solid #555;
/*	border-bottom: 1px dashed #88a;
	background: #d1ddef url(images/fade-gray-trans-down-50.png)  50% bottom repeat-x;
*/
}

#documentation .method-heading :link,
#documentation .method-heading :visited {
	color: inherit;
}
#documentation .method-click-advice {
	position: absolute;
	top: 2px;
	right: 5px;
	font-size: 10px;
	color: #9b9877;
	visibility: hidden;
	padding-right: 20px;
	line-height: 20px;
	background: url(images/zoom.png) no-repeat right top;
}
#documentation .method-detail:hover .method-click-advice {
	visibility: visible;
}

#documentation .method-alias .method-heading {
    font-family: courier, "courier new", monospace;
	color: #111;
	background: url(images/brick_link.png) no-repeat left bottom;
}

#documentation .method-description,
#documentation .aliases {
	margin: 0 20px;
	line-height: 1.2em;
	color: #222;
}
/*
#documentation .method-description:hover,
#documentation .aliases:hover {
	background-color: #fff2e5;
	color: #000;
}
*/
#documentation .aliases {
	background-color: #abcdff;
	padding-top: 4px;
	font-style: italic;
	cursor: default;
}
#documentation .method-description p {
	padding: 0;
}
#documentation .method-description p + p {
	margin-bottom: 0.5em;
}
#documentation .method-description ul {
  margin-left: 1.5em;
}

#documentation .attribute-method-heading {
	background: url(images/tag_green.png) no-repeat left bottom;
}
#documentation #attribute-method-details .method-detail:hover {
	background-color: transparent;
	cursor: default;
}
#documentation .attribute-access-type {
	font-size: 60%;
	text-transform: uppercase;
	vertical-align: super;
	padding: 0 2px;
}
/* @end */

/* @end */



/* @group Source Code */

div.method-source-code {
    background: #262626;
    color: #efefef;
    margin: 1em;
    padding: 0.5em;
    border: 1px dashed #999;
    overflow: hidden;
}

div.method-source-code pre {
	background: inherit;
	padding: 0;
	color: white;
	overflow: auto;
}

/* @group Ruby keyword styles */

.ruby-constant   { color: #7fffd4; background: transparent; }
.ruby-keyword    { color: #00ffff; background: transparent; }
.ruby-ivar       { color: #eedd82; background: transparent; }
.ruby-operator   { color: #00ffee; background: transparent; }
.ruby-identifier { color: #ffdead; background: transparent; }
.ruby-node       { color: #ffa07a; background: transparent; }
.ruby-comment    { color: #b22222; font-weight: bold; background: transparent; }
.ruby-regexp     { color: #ffa07a; background: transparent; }
.ruby-value      { color: #7fffd4; background: transparent; }

/* @end */
/* @end */






/* @group Debugging Section */

#debugging-toggle {
	text-align: center;
}
#debugging-toggle img {
	cursor: pointer;
}

#rdoc-debugging-section-dump {
	display: none;
	margin: 0 2em 2em;
	background: #d8c285;
	border: 1px solid #999;
}



/* @end */




/* .ui-widget { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1.1em; } */
/* .ui-widget .ui-widget { font-size: 1em; } */
/* .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1em; } */
/* .ui-widget-content { border: 1px solid #dddddd; background: #eeeeee url(images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x; color: #333333; } */
/* .ui-widget-content a { color: #333333; } */
/* .ui-widget-header { border: 1px solid #e78f08; background: #f6a828 url(images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold; } */
/* .ui-widget-header a { color: #ffffff; } */



/* .ui-dialog { position: absolute; padding: .2em; width: 300px; overflow: hidden; } */
/* .ui-dialog .ui-dialog-titlebar { padding: .5em 1em .3em; position: relative;  } */
/* .ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .2em 0; }  */
/* .ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; } */
/* .ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; } */
/* .ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; } */
/* .ui-dialog .ui-dialog-content { border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; } */
/* .ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; } */
/* .ui-dialog .ui-dialog-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: .2em .6em .3em .6em; line-height: 1.4em; width:auto; overflow:visible; } */
/* .ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; } */
/* .ui-draggable .ui-dialog-titlebar { cursor: move; } */




.ui-widget-header {
    /* border: 1px solid  #65381d; */
/*     background: #401; */
/*     background: #401 url(images/fade-gray-trans-down-50.png)  bottom repeat-x; */
}

.ui-widget-content {
/*     border: 2px solid #224; */
/*     color: #333333; */
    padding: 0px;
    background: transparent;
    border: 0px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.ui-dialog {
    position: fixed;
    /* bottom: 40px; */
    /* padding: 0.2em; */
    /* background: #E8D295;*/
    z-index: 2000;
}
.ui-dialog .ui-dialog-content {
    padding: 5px 10px;
    background: none;
    overflow: auto;
    zoom: 1;
}

.ui-widget-header {
/*     border: 1px solid #e78f08; */
/*     background: #f6a828 url(images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x; */
      color: #ffffff;
     background: #401 url(images/fade-gray-trans-down-50.png)  50% bottom repeat-x; 
    font-weight: bold;
    border: 0px;
}
.ui-dialog .ui-dialog-titlebar{
    padding-left: 1.0em;
    font-weight: bold;
/*     color: #ffffff; */
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-title {

}












/* vertical text */

p.css-vertical-text {
    color: inherit;
    writing-mode:tb-rl;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    white-space:nowrap;
    display:block;

    /* margin-left: 3px; */
    margin-top: 0px;
    padding: 0px;

    text-align: center;
    font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
    font-size:14px;
    font-weight:normal;
    /*text-shadow: 0px 0px 1px #333;*/
    position: relative;
    background-color: transparent;
}
/* these are the critical settings for layout */
p.css-vertical-text {
    bottom: 0px;
    left: -44px;

    width: 65px;
    height: 65px;
}


div.context {
    padding: 0px;
    margin: 0px;
    height: 70px;
    padding-left: 3px;
    padding-right: 3px;
/*    width: 25px; */
}


#tab-N p {
    height: 90px;
    width: 90px;
/*  bottom: -35px;*/
    left: -69px;

}
div#tab-N {
    height: 95px;
}

#tab-F p {
    height: 50px;
    width: 50px;
/*    bottom: -15px; */
    left: -29px;

}
div#tab-F {
    height: 55px;
}
/*
p.css-vertical-text a {
    height: 21px;
    background: transparent;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-top: 1px solid #885;
    border-right: 1px solid #885;
}
*/









div#left-pane {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: auto;
    padding: 0em;
    width: 34px;

    /* background-color: #f9f1dd; */
    /* background-color: #e9e1cd; */
/*     background-color: #ddf; */
/*     background-color: #401; */
     background-color: #eee;
     background: #401 url(images/fade-gray-trans-down-1024.png)  top repeat-x; 



    color: #333;
    z-index: 2000;
    /*
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    */
    /*
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    */
    padding-left: 3px;
    padding-right: 0px;
    padding-top: 7px;
    padding-bottom: 0px;
    margin-left: 0px;
    
}


div#tab-tops {
/*     background-color: transparent; */
/*     background-color: #eef; */
/*     background-color: #e9e1cd; */
/*     background-color: #e9e9e9; */
    /*
    filter:alpha(opacity=30);
    -moz-opacity: 0.3;
    opacity: 0.3;
    */



/*     border: 3px groove #888; */
/*     border-top: 0px; */
/*     border-left: 0px; */


    margin-left: 2px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;

    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
  
}





    
#tab-tops p.tab-selected a:hover {
/*     background-color: #e9e1bd; */
    cursor: pointer;
    filter:alpha(opacity=90);
    -moz-opacity: 0.9;
    opacity: 0.9;
    color: #fffff;

    
}

#tab-tops p.tab-selected a {
    background-color: #65381D;
    background-color: #401;
    color: #ffffff; /* #f9f1dd; */
    background: #401 url(images/fade-gray-trans-down-50.png)  50% bottom repeat-x;
/*     border: 2px inset #bbb; */
}
#tab-tops p a {
    text-decoration: none;
    color: #000;
    width: 100%;
    display: block;
    padding: 1px;
     border-right: 1px solid #224;
}
#tab-tops .enabled p a {
    color: #000;
}
#tab-tops .disabled p a {
    color: #666;
}
#tab-tops .enabled p a:hover {
    cursor: pointer;
    background-color: #9D7882;

    color: #401;
}
#tab-tops .enabled p.tab-selected a {
    background-color: #65381D;
    background-color: #401;
    color: #ffffff; /* #f9f1dd; */
    background: #401 url(images/fade-gray-trans-down-50.png)  50% bottom repeat-x;
}
#tab-tops .enabled p.tab-selected a:hover {
    cursor: pointer;
    color:  #eeeeee;
}
#tab-tops .disabled p a:hover {
    cursor: default;
}




div#right-pane {
    background-color: transparent;
    margin-left: 238px;
}
div#right-pane.menu-closed {
    margin-left: 38px;
}

div#next-pane {
    padding: 0em;
    width: 200px;
    height: 1000;
    padding-top: 5px;
    background-color: black;
    float: left;
}

div.menu-closed {
    margin-left: 45px;
}
/*
.menu-closed div#right-pane {
    margin-left: 45px;
}
*/

div#menu-dialog {
/*     background-color: #d0d0d0; */
/*     background: #f5f5f5  url(images/fade-gray-trans-up-1024.png)  top repeat-x; */
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
/*     border-top: 1px solid #ccc; */
}


#menu-dialog ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#menu-dialog ul {
}
#menu-dialog ul li {
    margin: 0px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 90%;
    color: #666;
}
#menu-dialog ul li.sel1 {
/*     background-color: #ECD699; */
}
#menu-dialog ul li a {
    text-decoration: none;
    color: #222;
    display: block;
    width: 100%;
}
#menu-dialog ul li:hover {
}
#menu-dialog ul li a:hover {
    background-color: #855D67;
/*     background-color: #401; */
    color: #f9f1dd;
}
#menu-dialog ul li.selected a {
     background-color: #401;
    color: #f9f1dd;
/*     color: #f9f1dd; */
}







div#metadata {
 /*   display: none; */
}
div#path_links {
    text-align: right;
    padding-right: 2em;
}
div#validator-badges {
    text-align: center;
}

div#fp-body {
    border: 1px solid #224;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 1em;
    padding-top: 0.5em;
    margin: 1.0em 1.0em;
/*    padding-left: 1.0em; */
    background-color: #fff
}
.file .header {
    border-bottom: 1px solid #401;
}
/* @group File Contents */
.file .header h1 {
    font-size: 250%;
    text-shadow: rgba(135,145,135,0.65) 6px 6px 9px;
    color: #401;
    padding: 9px;
}
.file .header .close-link {
    margin-top: 5px;
    border: 2px outset #401;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: right;
    float: right;
}
.file .header .close-link a {
    background-color: transparent;
    color: transparent;
}
.file .header div.close-link:hover {
    background-color: #AE989D;
    border: 2px inset #401;
    
}
.file .header .float-bottom {
    clear: both;
}



.file .metadata dl {
    margin-top: 1em;
}


.file .metadata dt {
    margin-top: 0.5em;
    font-weight: bold;
    padding-left: 22px;
    line-height: 20px;
    background: url(images/page_white_width.png) no-repeat left top;
}
.file .metadata dl dd {
    margin-left: 0.5em;
}

.file .metadata  dt.modified-date {
    background: url(images/date.png) no-repeat left top;
    display: inline;
}
.file .metadata  dd.modified-date {
    display: inline;
}
.file .metadata  dt.requires {
	background: url(images/plugin.png) no-repeat left top;
}
.file .metadata  dt.scs-url {
	background: url(images/wrench.png) no-repeat left top;
}

.file .metadata dl dd ul {
    list-style-image: url(/images/require.png);
    list-style-type: circle;
	margin-left: 0px;
	padding-top: 0;
}
.file .metadata dl dd ul li {
    margin-left: 41px;
}


.file .description h2 {
    margin-top: 2em;
    padding: 0.25em 0.25em;
    color: #333;
    font-size: 120%;
    border: 1px solid #bbb;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #aaa url(images/fade-gray-trans.png)  bottom repeat-x; 

    text-transform: uppercase;
    letter-spacing: 0.2em;
    border: 1px solid #bbb;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.file .description ul li p {
    margin: 0em 0em;
}
.file .description p {
    margin: 1.0em 0em;
}
.file .description a {
    color: #333;
    text-decoration: none;
}
.file .description a:hover {
    text-decoration: underline;
}
.file .description ul {
    color: #333;
    list-style-type: circle;
    margin-left: 20px;
}
div.rel-prefix {
    display: none;
}
/* @end */

